<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>{{title}}</h1>
  <div id="chat">
    {{!-- <input type="text" id="message" placeholder="Type your message..." />
    <button id="send">Send</button>
    <ul id="messages"></ul> --}}
  </div>
  <ul id="products">
    {{#each products}}
      <li>{{this.title}} - ${{this.price}} - {{this.description}} - - {{this.category}}</li>
    {{/each}}
  </ul>
</body>
</html>
